.records {
  padding: 80px;
  background: #fff;
}

.records h1 {
  margin-bottom: 30px;
}

.records ul li {
  font-size: 18px;
  margin-bottom: 15px;
}
section {
  padding: 90px 80px;
}
section h1,
section h2 {
  font-size: 42px;
  margin-bottom: 20px;
  position: relative;
}

section h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 10px;
}
