.shop {
  padding: 80px;
  background: #fff;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.shop-card {
  padding: 25px;
  border: 2px solid #000;
  text-align: center;
}

.shop-card a {
  display: inline-block;
  margin-top: 15px;
  background: #000;
  color: #f5c518;
  padding: 10px 20px;
}
section {
  padding: 90px 80px;
}
section h1,
section h2 {
  font-size: 42px;
  margin-bottom: 20px;
  position: relative;
}

section h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 10px;
}
